PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=78dNPxPBfKOGC4h-Mp5hrwliPeOVs3QN
DRIVE_DISK=local

DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=adonis
PG_PASSWORD=adonis
PG_DB_NAME=povoado_db